.menu-bar {

    padding: 0;
    margin: 0;
 
    position: sticky;
    top: 0%;
    display: block;
    height: fit-content;
    z-index: 2;

 
  }
  
  .menu-bar-list {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
  }
  
  .menu-bar-item {
    padding: 10px 20px;
    color: #333;
    cursor: pointer;

  }
  
  .menu-bar__item:hover {
    background-color: #e1e1e1;
  }
  .menu-title{
    text-decoration: none;
  }

  .main-header{
    display: flex;
}



.header-logo {
    width: 130px;
    height: auto; 
    display: block; 
    padding: 0rem 0rem 1rem 1rem ; 
  }
  